/* stop the content overflowing to the sides, especially with negative margins on .row */
#MPOuterMost {
    overflow-x: hidden;
}
/* hide .HtmlFooter and .MPBottomMenu, both of which add extra padding/whitespace */
.HtmlFooter,
.MPBottomMenu {
    display: none;
}
/* remove bottom margin from empty paragraphs (eg. in widgets) to avoid whitespace */
p:empty {
    margin-bottom: 0;
}
/* this one's not HL-specific */
/* centres all background images created using the bg image JS/ajax calls for images */
.bg-image,
.img-container {
    background-size: cover;
    background-position: center;
}
/* avoids 1px tall sections, especially when they hold JS but no content */
/* can be less specific, but might break other HL functionality */
.home .col-md-12[class*="section"] {
    min-height: 0;
}
/* allows for word breaking for emails and profile inbox messages */
body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
/* overrides the above word breaking for yes/no toggle buttons in create event */
#event-additional-details-container {
    overflow-wrap: normal !important;
    word-wrap: normal !important;
}
/* resets the padding on col-md-12 full-width sections */
.row-full .col-md-12[class*="section"] {
    padding: 0;
}
.row-full .col-md-6[class*="section"],
.row-full .col-md-8[class*="section"],
.row-full .col-md-4[class*="section"],
.row-full .col-md-3[class*="section"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* reset alerts to neutral colours */
.alert-warning, .alert-success, 
.alert-info, .alert.alert-info,
.ideation-home .alert.alert-success, 
.ideation-detail .alert.alert-success {
    color: inherit;
    background-color: #f9f9f9;
    border-color: #f5f5f5;
}

/*** margins between sections ***/
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}
@media (max-width: 991px) {
    .margin-bottom-50-mob {
        margin-bottom: 50px;
    }
}
#MainCopy_ContentWrapper {
    padding-bottom: 60px;
}
.interior #MainCopy_ContentWrapper {
    padding-top: 40px;
}
.community #MainCopy_ContentWrapper {
    padding-top: 0;
    padding-bottom: 0;
}

/*** custom bootstrap-style row ***/
@media (min-width: 992px) {
    .row-75 > .col-md-6:first-child {
        width: 58%;
    }
    .row-75 > .col-md-6:last-child {
        width: 42%;
    }
}

/*** backgrounds ***/
.bg-grey {
    background: #f7f7f7;
    padding: 40px calc(50% - 600px);
}
.bg-grey.no-bottom-pad {
    padding-bottom: 0;
}
.bg-grey.no-top-pad {
    padding-top: 0;
}
.bg-secondary {
    background: [SecondaryColor];
    padding: 20px calc(50% - 600px);
}
.bg-grey > .col-md-12[class*="section"],
.bg-secondary > .col-md-12[class*="section"] {
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .flex-align {
        display: flex;
        align-items: center;
    }
}

/* text on secondary */
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary h4,
.bg-secondary p {
    color: #fff;
}

/****** fonts ******/
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #7C7C7C;
}
h1, .h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.44;
    color: #2B2B2B;
}
.MPContentArea h2,
.MPContentArea .h2,
.HLLandingControl .heading h2, 
.HLLandingControl h2,
.community .bg-grey div[id*="UpdatePanel"] .panel-title,
.ideation-home h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #2B2B2B;
    padding-left: 12px;
    position: relative;
    text-transform: uppercase;
    border-left: 4px solid [SecondaryColor];
}
.facets .content-search h2 {
    border-left: none;
}
h3, .h3,
.HLLandingControl h3 a,
.ContentUserControl .HLLandingControl .Content h3 a,
.HLLandingControl.HLEngagement h3,
.ideation-home .ideation-title h3 a {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: #3C3E3D;
    text-decoration: none;
}
.HLLandingControl h3 a:hover,
.HLLandingControl h3 a:focus,
.ContentUserControl .HLLandingControl .Content h3 a:hover,
.ContentUserControl .HLLandingControl .Content h3 a:focus,
.ideation-home .ideation-title h3 a:hover,
.ideation-home .ideation-title h3 a:focus {
    text-decoration: underline;
}
a {
    color: [SecondaryColor];
    text-decoration: underline;
}
a:hover,
a:focus {
    color: [SecondaryColor];
    text-decoration: none;
}

/* transitions */
a,
a:hover,
a:focus,
input,
input:hover,
input:focus,
button,
button:hover,
button:focus {
    transition: .3s;
}

/*** buttons ***/
.make-buttons em {
    display: inline-block;
    margin: -5px;
}
.make-buttons em a {
    margin: 5px;
}
.HLLandingControl div[id*="More"] .col-md-12,
.HLLandingControl div[id*="BottomLink"] .col-md-12 {
    padding: 0;
}
.make-buttons em a,
.HLLandingControl div[id*="More"] a,
.HLLandingControl div[id*="BottomLink"] a {
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 2px;
    color: #fff;
    border-color: [SecondaryColor];
    background-color: [SecondaryColor];
}
.make-buttons em a:hover,
.make-buttons em a:focus,
.HLLandingControl div[id*="More"] a:hover,
.HLLandingControl div[id*="More"] a:focus,
.HLLandingControl div[id*="BottomLink"] a:hover,
.HLLandingControl div[id*="BottomLink"] a:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), [SecondaryColor];
}
.make-buttons.invert-button em a {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}
.make-buttons.invert-button em a:hover,
.make-buttons.invert-button em a:focus {
    background-color: #fff;
    color: [PrimaryColor];
}

/* default HL buttons */
.btn:not(.dropdown-toggle) {
	white-space: normal;
}
.btn:not(.btn-secondary) {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    padding: 10px 15px;
    border-radius: 2px;
    text-transform: uppercase;
}
.btn.btn-sm,
.btn-group-sm>.btn {
    padding: 5px 10px;
    border-radius: 2px;
}
.btn.btn-xs {
    padding: 2px 5px;
}
.btn-default {
    background: #fff;
    border: 1px solid #f7f7f7;
    color: #7c7c7c;
}
.btn-default:hover,
.btn-default:focus {
    background: #f7f7f7;
    color: #7c7c7c;
    border-color: #7c7c7c;
}
.btn.btn-community-stats-static, 
.btn-community-stats-static:hover {
    padding: 5px;
}
.btn-success,
.btn-primary,
.btn-info,
.btn-info {
    color: #fff;
    border: none;
}
.btn-success,
.JoinLeaveLink .btn-primary,
.btn-info,
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active,
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background: [SecondaryColor];
}
.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.btn-info:hover, 
.btn-info:focus, 
.btn-info:active, 
.btn-info.active, 
.open .dropdown-toggle.btn-success,
.JoinLeaveLink .btn-primary:hover,
.JoinLeaveLink .btn-primary:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), [SecondaryColor];
}
.btn-primary,
.ideation-home .btn-success,
.community-radio .btn-group .btn-primary.dropdown-toggle,
.open .dropdown-toggle.btn-primary,
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background: [PrimaryColor];
}
.btn-primary:hover,
.btn-primary:focus,
.ideation-home .btn-success:hover,
.ideation-home .btn-success:focus,
.community-radio .btn-group .btn-primary.dropdown-toggle:hover,
.community-radio .btn-group .btn-primary.dropdown-toggle:focus,
.open .dropdown-toggle.btn-primary:hover,
.open .dropdown-toggle.btn-primary:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), [PrimaryColor];
}

/****** header ******/
#MPOuterHeader {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), 0px 0px 20px rgba(0, 0, 0, 0.1);
}
#HEADER {
    padding: 20px 0;
}
#HEADER > .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
}
#MPheader > div.row,
#MPheader > div.row:first-child > .col-md-12 {
    padding: 0;
}

/*** logo and top text links on one line ***/
#Logo {
    float: left;
}
#MPheader > .row:first-child {
    float: right;
}
.skiplinkholder a, .skiplinkholder a:link, .skiplinkholder a:visited {
    left: -500%;
	top: -250px;
}
.skiplinkholder a:focus, .skiplinkholder a:active {
    left: 0;
	top: 0;
}

/*** top text links and login button ***/
#MPAuxNav ul.level1 li a,
#Welcome_LoginLink {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #4b4b4b;
    text-decoration: none;
    padding: 0;
    margin-right: 20px;
    border: none;
}
#Welcome_LoginLink {
    margin-right: 0;
    background: transparent;
    border-radius: 0;
    margin-top: 6px;
}
#MPAuxNav ul.level1 li a:hover,
#MPAuxNav ul.level1 li a:focus,
#Welcome_LoginLink:hover,
#Welcome_LoginLink:focus {
    text-decoration: underline;
}

/*** profile dropdown ***/
#BtnShowProfile {
    display: none;
}
.Welcome .btn.btn-default.imgButton,
.profile a[id*='ImageControl'] {
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    border: none;
    min-height: 0;
}
.Welcome .btn.btn-default.imgButton {
    width: 30px;
    height: 30px;
    padding: 0;
}
.profile a[id*='ImageControl'] {
    width: 145px;
    height: 145px;
}
.imgButton > img,
.profile a[id*='ImageControl'] > img {
    position: relative;
    max-height: 100% !important;
    width: auto;
}
.progress-bar-info {
    background-color: [SecondaryColor];
}

/****** main nav ******/
#MPOuterMost #NAV,
#MPOuterMost .navbar-default {
    background: transparent;
    border: none;
}
#NAV .navbar-default .navbar-nav>li>a,
#NAV .navbar-default .navbar-nav>.active>a, 
#NAV .navbar-default .navbar-nav>.disabled>a {
    color: #4B4B4B; 
    background-color: transparent;
    font-weight: 700;
    line-height: 1.2;
    padding: 15px;
}
#NAV .navbar-default .navbar-nav>.open>a {
    background: transparent;
    color: #4b4b4b;
}
#NAV .navbar-default .navbar-nav>li>a:hover, #NAV .navbar-default .navbar-nav>li>a:focus,
#NAV .navbar-default .navbar-nav>.active>a:hover, #NAV .navbar-default .navbar-nav>.active>a:focus,
#NAV .navbar-default .navbar-nav>.disabled>a:hover, #NAV .navbar-default .navbar-nav>.disabled>a:focus,
#NAV .navbar-default .navbar-nav>.open>a:hover, #NAV .navbar-default #NAV .navbar-nav>.open>a:focus {
    background: transparent;
    color: [SecondaryColor];
}

/* caret */
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-bottom-color: inherit;
    border-top-color: inherit;
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret,
#NAV .navbar-default .navbar-nav>.open>a .caret, #NAV .navbar-default .navbar-nav>.open>a:hover .caret, #NAV .navbar-default #NAV .navbar-nav>.open>a:focus .caret {
    border-top-color: [SecondaryColor];
    border-bottom-color: [SecondaryColor];
}

/* removing extraneous padding on desktop */
@media (min-width: 768px) {
    #NAV .row {
        margin-left: 0;
        margin-right: 0;
    }
    #NAV .col-md-12,
    .navbar-collapse {
        padding: 0;
    }
}

/* dropdowns */
.navbar-nav>li>.dropdown-menu,
#MPButtonBar .navbar-nav > li > .dropdown-menu,
.nav-tabs li>.dropdown-menu {
	background-color: #fff;
    border: 1px solid #FBFBFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 2px 2px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-nav .dropdown-menu>li>a,
.nav-tabs li>.dropdown-menu > li > a {
    color: #4B4B4B;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    border-left: 4px solid transparent;
    padding: 10px 18px 10px 14px;
    position: relative;
    z-index: 1;
}
.navbar-nav .dropdown-menu>li>a::before,
.nav-tabs li>.dropdown-menu > li > a::before {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), [SecondaryColor];
    opacity: 0;
    transition: .3s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.nav-tabs li>.dropdown-menu > li > a::before {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), [PrimaryColor];
}
.navbar-nav .dropdown-menu>.active>a,
.navbar-nav .dropdown-menu>.active>a:hover,
.navbar-nav .dropdown-menu>.active>a:focus,
.navbar-nav .dropdown-menu>li>a:hover,
.navbar-nav .dropdown-menu>li>a:focus,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>.active>a,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>.active>a:hover,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>.active>a:focus,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>li>a:hover,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>li>a:focus{
    color: [SecondaryColor];
    border-left-color: [SecondaryColor];
    background: transparent;
}
.nav-tabs li>.dropdown-menu > .active > a,
.nav-tabs li>.dropdown-menu > .active > a:hover,
.nav-tabs li>.dropdown-menu > .active > a:focus,
.nav-tabs li>.dropdown-menu > li > a:hover,
.nav-tabs li>.dropdown-menu > li > a:focus  {
    color: [PrimaryColor];
    border-left-color: [PrimaryColor];
    background: transparent;
}
.navbar-nav .dropdown-menu>.active>a::before,
.navbar-nav .dropdown-menu>.active>a:hover::before,
.navbar-nav .dropdown-menu>.active>a:focus::before,
.navbar-nav .dropdown-menu>li>a:hover::before,
.navbar-nav .dropdown-menu>li>a:focus::before,
.nav-tabs li>.dropdown-menu>.active>a::before,
.nav-tabs li>.dropdown-menu>.active>a:hover::before,
.nav-tabs li>.dropdown-menu>.active>a:focus::before,
.nav-tabs li>.dropdown-menu>li>a:hover::before,
.nav-tabs li>.dropdown-menu>li>a:focus::before {
    opacity: 1;
    transition: .3s;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background: [PrimaryColor];
}

/****** search ******/
#searchColumn {
    max-width: 100%;
    width: 370px;
}
#MPSearchBlock {
    margin-bottom: 8px;
}
#searchColumn .SearchInputs {
    background: #F7F7F7;
    border: 1px solid #F7F7F7;
    border-radius: 0;
}
.bg-secondary .SearchInputs {
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
#searchColumn .form-control,
.bg-secondary .form-control {
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    border: none;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.3;
    color: #B5B5B5;
}
.bg-secondary .form-control {
    padding: 13px 15px;
    line-height: 20px;
    height: auto;
}
#searchColumn .form-control::placeholder,
.bg-secondary .form-control::placeholder {
    font-style: normal;
}
#searchColumn button[id*="SearchButton"],
.bg-secondary button[id*="SearchButton"] {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 10px;
}
#searchColumn button[id*="SearchButton"] .glyphicon-search,
.bg-secondary button[id*="SearchButton"] .glyphicon-search {
    width: auto;
    top: 0;
    vertical-align: unset !important;
}
#searchColumn button[id*="SearchButton"] .glyphicon-search::before,
.bg-secondary button[id*="SearchButton"] .glyphicon-search::before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f002';
    color: #545454;
    font-size: 14px;
    line-height: 1.3;
}
.bg-secondary button[id*="SearchButton"] .glyphicon-search::before {
    color: #e0e0e0;
    font-size: 20px;
    line-height: 1;
}

/****** slider ******/
.slider.slick-initialized.slick-dotted {
    margin-bottom: 0;
}
.slider .slick-track {
    display: flex;
}
.slider .main-slide.slick-slide {
    height: auto;
    display: flex;
}
.main-slide .HtmlContent {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    background-color: rgba(60,62,61,0.5);
    padding: 60px 50% 60px calc(50% - 600px);
}
.main-slide h1,
.main-slide p {
    color: #fff;
}
.main-slide h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
.main-slide p {
    line-height: 1.625;
    margin-bottom: 20px;
}

/*** arrows ***/
.slick-arrow {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 32px;
    line-height: 2;
    color: #dfdfdf;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.slick-arrow:hover,
.slick-arrow:focus {
    color: #fff;
}
.slick-arrow.prev-arrow {
    left: 40px;
}
.slick-arrow.next-arrow {
    right: 40px;
}

/****** search section ******/
.search-text h3 {
    margin-top: 0;
    margin-bottom: 8px;
}
.search-text {
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    margin-top: -8px;
    margin-bottom: -8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

/****** tiles ******/
.tiles > .col-md-12 {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
}
.tile {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 20%;
    display: flex;
}
.tile > .HtmlContent {
    display: flex;
    padding: 10px;
}
.tile > .HtmlContent,
.tile > .HtmlContent > a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
}
.tile > .HtmlContent > a {
    background: #fff;
    padding: 40px 20px 30px 20px;
    border-radius: 2px;
    box-shadow: 0px 4px 15px rgba(231, 232, 236, 0.3);
    color: #3C3E3D;
    text-decoration: none;
}
.tile.primary > .HtmlContent > a {
    background: [PrimaryColor];
    color: #fff;
}
.tile > .HtmlContent > a strong {
    display: block;
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 8px;
}
.tile > .HtmlContent > a:hover,
.tile > .HtmlContent > a:focus {
    color: #fff;
    background: [SecondaryColor];
}

/*** icons ***/
.tile > .HtmlContent > a::before {
    font-family: 'Font Awesome 5 Pro';
    font-size: 64px;
    line-height: 1;
    color: [SecondaryColor];
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
    content: '\f500';
}
.tile.primary > .HtmlContent > a::before {
    color: #fff;
    content: '\f4b6';
}
.tile > .HtmlContent > a:hover::before,
.tile > .HtmlContent > a:focus::before {
    color: #fff;
}

/****** landing controls ******/
.ContentUserControl .HLLandingControl,
.HLLandingControl .Content {
    padding: 0;
    border: none;
    margin: 0;
}
.HLLandingControl ul li {
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.HLLandingControl h2,
.HLLandingControl .heading h2 {
    margin-top: 0;
}
.HLLandingControl a[id*="ProfileLink"] img,
.HLLandingControl a[id*="lnkDisplay"] img {
    border-radius: 2px;
}
.HLLandingControl .ByLine,
.HLLandingControl h5 {
    color: #4b4b4b;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0;
    margin-bottom: 0;
}
.HLLandingControl h5 a {
    color: [PrimaryColor];
    font-weight: 700;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 8px;
    background: rgba(5, 43, 62, 0.15);
    border-radius: 2px;
    margin-left: 10px;
    text-decoration: none;
    position: relative;
}
.HLLandingControl h5 a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: [SecondaryColor];
    opacity: 0;
}
.HLLandingControl h5 a:hover,
.HLLandingControl h5 a:focus {
    color: [SecondaryColor];
    background: transparent;
}
.HLLandingControl h5 a:hover::before,
.HLLandingControl h5 a:focus::before {
    opacity: 0.15;
}

/*** handling images + titles ***/
.HLLandingControl ul li .title-row .col-sm-2.col-md-2,
.HLLandingControl ul li .title-row > .col-md-3 {
    width: 50px;
    margin-right: 20px;
    float: left;
    padding: 0;
}
.HLLandingControl ul li .title-row .col-md-10.col-sm-10,
.HLLandingControl ul li .title-row .col-md-7.col-sm-7,
.HLLandingControl ul li .title-row > .col-md-9 {
    float: left;
    width: calc(100% - 75px); 
    padding: 0;
}
.HLLandingControl.SearchResults ul li .title-row .col-md-3.pull-right {
    display: none;
}

/*** all content list ***/
.SearchResults.HLLandingControl .title-row img {
    max-height: 50px;
    max-width: 50px;
}


/*** most active members ***/
.HLEngagement ul li {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
}
.HLEngagement ul li:last-child {
    margin-bottom: 10px;
}
.HLEngagement ul li > a {
    display: block;
    border-radius: 2px;
    border-bottom: 1px solid #f9f9f9;
    padding: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.HLEngagement ul li .ByLine {
    color: #7c7c7c;
    font-size: 14px;
    line-height: 1.14;
}
.HLEngagement ul li > a:hover,
.HLEngagement ul li > a:focus {
    background: [SecondaryColor];
}
.HLEngagement ul li > a:hover h3,
.HLEngagement ul li > a:focus h3,
.HLEngagement ul li > a:hover .ByLine,
.HLEngagement ul li > a:focus .ByLine,
.HLEngagement ul li > a:hover .points-label,
.HLEngagement ul li > a:focus .points-label {
    color: #fff;
}
.HLEngagement ul li > a .title-row {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 75%;
}
.HLEngagement ul li > a .content-row {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    text-align: right;
}
.HLEngagement ul li > a .content-row .col-md-3 {
    display: none;
}
.HLEngagement ul li > a .content-row .col-md-9 {
    padding: 0;
    width: 100%;
}
.HLEngagement .points-label {
    background: transparent;
    color: [PrimaryColor];
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0;
}

/*** blogs ***/
.sort-options-container {
    display: none;
}
.blog-slider .HLRecentBlogs ul {
    margin-left: -15px;
    margin-right: -15px;
}
.blog-slider .HLRecentBlogs ul .slick-track {
    display: flex;
}
.blog-slider .HLRecentBlogs ul li.slick-slide {
    margin-left: 15px;
    margin-right: 15px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    height: auto;
    padding: 0;
    border: none;
}
.blog-slider .HLRecentBlogs ul li > a,
.release-notes .HLRecentBlogs ul li,
.featured-blog .HLRecentBlogs ul li > a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;
    color: #7c7c7c;
    display: block;
}
.featured-blog .HLRecentBlogs ul li {
    border: none;
}
.blog-slider .HLRecentBlogs ul li > a,
.featured-blog .HLRecentBlogs ul li > a {
    box-shadow: 0px 1px 2px #E7E8EC, 0px 4px 15px rgba(231, 232, 236, 0.3);
}
.blog-slider .HLRecentBlogs ul li > a .img-container,
.release-notes .HLRecentBlogs ul li .img-container,
.featured-blog .HLRecentBlogs ul li > a .img-container {
    height: 200px;
    position: relative;
}
.blog-slider .HLRecentBlogs ul li > a .img-container::before,
.release-notes .HLRecentBlogs ul li .img-container::before,
.featured-blog .HLRecentBlogs ul li > a .img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .3s;
}
.blog-slider .HLRecentBlogs ul li > a .img-container.loading::before,
.release-notes .HLRecentBlogs ul li .img-container.loading::before,
.featured-blog .HLRecentBlogs ul li > a .img-container.loading::before {
    animation: colorchange 1.5s infinite;
    -webkit-animation: colorchange 1.5s infinite;
    opacity: 1;
    transition: .3s;
}

@keyframes colorchange {
    0% {
        background: #DFDFDF;
    }

    50% {
        background: #7c7c7c;
    }

    100% {
        background: #DFDFDF;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #DFDFDF;
    }

    50% {
        background: #7c7c7c;
    }

    100% {
        background: #DFDFDF;
    }
}
.blog-slider .HLRecentBlogs ul li > a .img-container::after,
.featured-blog .HLRecentBlogs ul li > a .img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: [SecondaryColor];
    opacity: 0;
    transition: .3s;
}
.blog-slider .HLRecentBlogs ul li > a:hover .img-container::after,
.blog-slider .HLRecentBlogs ul li > a:focus .img-container::after,
.featured-blog .HLRecentBlogs ul li > a:hover .img-container::after,
.featured-blog .HLRecentBlogs ul li > a:focus .img-container::after {
    opacity: 0.5;
    transition: .3s;
}
.blog-slider .HLRecentBlogs ul li > a .text-container,
.release-notes .HLRecentBlogs ul li .text-container,
.featured-blog .HLRecentBlogs ul li > a .text-container {
    padding-top: 20px;
    background: #fff;
    position: relative;
    height: calc(100% - 200px);
}
.blog-slider .HLRecentBlogs ul li > a .text-container,
.featured-blog .HLRecentBlogs ul li > a .text-container {
    padding: 20px 20px 90px 20px;
}
.blog-slider .HLRecentBlogs ul li > a .text-container .link-text,
.featured-blog .HLRecentBlogs ul li > a .text-container .link-text {
    display: block;
    padding: 20px 10px;
    border-radius: 2px;
    color: [PrimaryColor];
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.blog-slider .HLRecentBlogs ul li > a .text-container .link-text::after,
.featured-blog .HLRecentBlogs ul li > a .text-container .link-text::after {
    font-family: 'Font Awesome 5 Pro';
    content: '\f178';
    float: right;
}
.blog-slider .HLRecentBlogs ul li > a:hover .text-container .link-text,
.blog-slider .HLRecentBlogs ul li > a:focus .text-container .link-text,
.featured-blog .HLRecentBlogs ul li > a:hover .text-container .link-text,
.featured-blog .HLRecentBlogs ul li > a:focus .text-container .link-text {
    color: #fff;
    background: [SecondaryColor];
}

/* release notes */

.release-notes .HLRecentBlogs ul li {
    margin-bottom: 30px;
}
.release-notes .HLRecentBlogs .title-row h3,
.featured-blog .HLRecentBlogs .title-row h3 {
    margin-bottom: 6px;
}
.release-notes .HLRecentBlogs ul li .ByLine,
.featured-blog .HLRecentBlogs ul li .ByLine {
    margin-bottom: 10px;
}

/* slider dots */

.blog-slider ul.slick-dots {
    bottom: -50px;
}
.blog-slider ul.slick-dots li {
    margin: 0 3px;
    width: 40px;
    height: 5px;
}
.blog-slider ul.slick-dots li button {
    width: 40px;
    height: 5px;
    padding: 0;
    background: #DFDFDF;
    border-radius: 0;
}
.blog-slider ul.slick-dots li button:hover,
.blog-slider ul.slick-dots li button:focus {
    background: #7c7c7c;
}
.blog-slider ul.slick-dots li.slick-active button,
.blog-slider ul.slick-dots li.slick-active button:hover,
.blog-slider ul.slick-dots li.slick-active button:focus {
    background: [SecondaryColor];
}
.blog-slider ul.slick-dots li button::before {
    display: none;
}

/*** events ***/
.HLEventList .Content > .row > .col-md-12 > .pull-right + br {
    display: none;
}
.home .HLEventList ul {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.home .HLEventList ul li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    box-shadow: 0px 1px 2px #E7E8EC, 0px 4px 15px rgba(231, 232, 236, 0.3);
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 20px 20px 0;
    border: none;
}
.HLEventList .timeAgoFormat,
.HLEventList div[id*="LocationPanel"] {
    color: #7C7C7C;
    font-size: 14px;
    line-height: 22px;
}
.HLEventList .timeAgoFormat {
    margin-bottom: 8px;
}
.HLEventList .timeAgoFormat::before,
.HLEventList div[id*="LocationPanel"]::before {
    color: [SecondaryColor];
    font-family: 'Font Awesome 5 Pro';
    margin-right: 8px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}
.HLEventList .timeAgoFormat::before {
    content: '\f017';
}
.HLEventList div[id*="LocationPanel"]::before {
    content: '\f3c5';
    margin-right: 10px;
    margin-left: 2px;
}

/* fix floated right 'add event' button */
.HLEventList .Content > div[id*="ContentPanel"] > .col-md-12.no-pad > .pull-right {
    float: none !important;
    text-align: right;
}
.HLEventList .Content > div[id*="ContentPanel"] > .col-md-12.no-pad > .pull-right + br {
    display: none;
}

/* date blocks */
.HLEventList.HLLandingControl ul li > .row {
    display: flex;
    align-items: center;
}
.HLEventList.HLLandingControl ul li .col-md-2 {
    width: 140px;
}
.HLEventList.HLLandingControl ul li .col-md-2 > .margin-bottom-medium {
    margin: 0;
}
.HLEventList.HLLandingControl ul li .col-md-10 {
    width: calc(100% - 140px);
    padding-left: 40px !important;
}
.HLEventList .date-block {
    width: 140px;
    min-height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.HLEventList .col-md-2::after {
    content: '';
    border-right: 2px solid #F5F5F5;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
}
.HLEventList .date-block .calendar-day {
    display: none;
}
.HLEventList .date-block .calendary-number {
    color: [PrimaryColor];
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}
.HLEventList .date-block .calendar-month {
    color: [PrimaryColor];
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
}

/* handling Manage Events list */
.event-past {
    color: #545454;
}

/****** profile page ******/
.profile h2 {
    text-transform: none;
    border: none;
    padding-left: 0;
}
.profile h2.ProfileUserName {
    font-size: 32px;
}
.profile .col-md-3.section1 {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 1px 2px #E7E8EC, 0px 4px 15px rgba(231, 232, 236, 0.3);
    padding: 30px 20px;
    width: calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}
.profile .col-md-3.section1 .alert {
    padding: 0;
    background: transparent;
    border: none;
    margin-bottom: 0;
}
.profile .col-md-3.section1 h2 {
    color: [PrimaryColor];
    font-size: 18px;
    margin-bottom: 10px;
}
.profile .col-md-3.section1 .alert > p:first-child {
    margin-bottom: 10px;
}
.profile .col-md-3.section1 .alert > p:nth-child(2) {
    margin: 0;
}
.contribution-detail .points .data {
    border-color: [SecondaryColor];
    color: [SecondaryColor];
    position: relative;
    overflow: hidden;
    background: transparent;
}
.contribution-detail .points .data::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: [SecondaryColor];
    opacity: 0.08;
}
.email-preferences > .row > .col-sm-2 > .text-right {
    text-align: left;
    margin-bottom: 20px;
}
.digitalRibbonDisplay .pull-left > div > span {
    font-family: 'Lato', sans-serif !important;
}

/****** profile and community tabs ******/
.nav-tabs {
    background: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 1px 2px #E7E8EC, 0px 4px 15px rgba(231, 232, 236, 0.3);
}
#CommunityTabsContainer.nav-tabs {
    background: #fff;
    margin-top: 0;
}
#CommunityTabsContainer .badge {
    background-color: #bdbdbd;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 700;
    padding: 2px 3px;
}
.nav-tabs>li>a {
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    border: none;
    color: #4b4b4b;
    line-height: 1.1875;
    font-weight: 700;
    margin: 5px;
}
.nav-tabs>li>a > span,
.nav-tabs > li > a:hover > span,
.nav-tabs > li > a:focus > span,
.nav > li > a:hover > span,
.nav > li > a:focus > span {
    color: #4b4b4b;
}
#CommunityTabsContainer.nav-tabs > li > a {
    line-height: 21px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav>li>a:hover, 
.nav>li>a:focus {
    color: #4B4B4B;
    background-color: #f7f7f7;
    border: none;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #fff;
    border: none;
    background: [PrimaryColor];
}
.nav-tabs>li.active>a > span,
.nav-tabs>li.active>a:hover > span, 
.nav-tabs>li.active>a:focus > span {
    color: #fff;
}
.nav-tabs > li > a .caret,
.nav-tabs > li > a:hover .caret,
.nav-tabs > li > a:focus .caret {
    margin-left: 5px;
    border-top-color: #4b4b4b;
    border-bottom-color: #4b4b4b;
}
.nav-tabs>li.active>a .caret, 
.nav-tabs>li.active>a:hover .caret, 
.nav-tabs>li.active>a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/****** community pages ******/
.community .HLEventList ul li {
    background: #fff;
    box-shadow: 0px 1px 2px #E7E8EC, 0px 4px 15px rgba(231, 232, 236, 0.3);
    padding: 20px;
}
.community .HLEventList ul li:last-child {
    margin-bottom: 30px;
}
.community .HLEventList.HLLandingControl ul li .col-md-2,
.community .HLEventList .date-block {
    width: 80px;
}
.community .HLEventList.HLLandingControl ul li .col-md-10 {
    width: calc(100% - 80px);
    padding-left: 20px !important;
}

h1 > *:not(.title-text) {
    font-weight: 400;
    text-transform: none;
    line-height: 1.375;
}

.JoinLeaveLink {
    display: inline-block;
}
.CommunityManagementGear > button.btn-group-sm {
    padding: 8px 14px 9px 14px;
    line-height: 1.17;
    font-size: 12px;
}
#PageTitleH1 .title-text + .CommunityManagementGear {
    margin-left: 0;
}
button[id*="btnInviteOthersToJoin"] {
    display: block;
}
.btn.btn-sm.CommunityManagementGearTopMargin[id*="LeaveCommunityLink"] {
    margin-left: -11px;
}

/*** members ***/
.community .bg-grey div[id*="UpdatePanel"] > .panel {
    border: none;
    background: transparent;
}
.community .bg-grey div[id*="UpdatePanel"] .panel-heading {
    padding: 0;
    background: transparent;
    border: none;
}
.community .bg-grey div[id*="UpdatePanel"] .panel-title {
    margin-top: 6px;
    background: transparent;
}
.community .bg-grey div[id*="UpdatePanel"] .panel-body {
    padding: 0;
}
.community .bg-grey div[id*="UpdatePanel"] span[id*="MemberCountLink"] {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #2b2b2b;
}
.community .bg-grey div[id*="UpdatePanel"] .panel-member {
    border-radius: 2px;
    border: 1px solid #E7E8EC;
    padding: 20px;
    box-shadow: none;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.community .bg-grey div[id*="UpdatePanel"] .panel-member img {
    border-radius: 2px;
}
.community .bg-grey div[id*="UpdatePanel"] .panel-member .GroupMemberName {
    color: #3C3E3D;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
}
.community .bg-grey div[id*="UpdatePanel"] .panel-member a:hover,
.community .bg-grey div[id*="UpdatePanel"] .panel-member a:focus {
    text-decoration: underline;
}
span.label.label-admin,
.hl.paged-list div.label.label-admin {
    background-color: [SecondaryColor];
    opacity: 1;
    border: none;
    border-radius: 2px;
}
a.label.label-search-tag,
.hltags .tagit-choice.ui-widget-content.ui-state-default.ui-corner-all.tagit-choice-editable {
    color: [PrimaryColor];
    border: none;
    background: transparent;
    position: relative;
    border-radius: 2px;
}
.content-tags .glyphicon.glyphicon-user,
.hltags .ui-state-default a, 
.hltags .ui-state-default a:link, 
.hltags .ui-state-default a:visited,
.hltags .ui-state-default a .glyphicon-user, 
.hltags .ui-state-default a:link .glyphicon-user, 
.hltags .ui-state-default a .glyphicon-user {
    color: [PrimaryColor];
}
a.label.label-search-tag::before,
.hltags .tagit-choice.ui-widget-content.ui-state-default.ui-corner-all.tagit-choice-editable::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: [PrimaryColor];
    opacity: 0.15;
}

/*** interior community pages ***/
.hl.paged-list .hl-contact .profile-img img {
    border-radius: 2px;
}
.hl.paged-list .hl-contact .col-sm-2.auto {
    padding-right: 0;
}
.hltags ul.tagit input[type="text"]::placeholder {
    color: [SecondaryColor];
}

/** blog display ***/
.blogs-block > div[id*="UpdatePanel"] > div[id*="TitleContainer"] + .row.margin-bottom-medium {
    display: flex;
}
.blogs-block > div[id*="UpdatePanel"] > div[id*="TitleContainer"] + .row.margin-bottom-medium > .col-md-8 {
    flex-basis: 60%;
    padding: 0;
}
.blogs-block > div[id*="UpdatePanel"] > div[id*="TitleContainer"] + .row.margin-bottom-medium > .col-md-2 {
    flex-basis: 20%;
    padding: 0;
}
.blogs-block > div[id*="UpdatePanel"] > div[id*="TitleContainer"] + .row.margin-bottom-medium .form-inline .form-group {
    display: inline-block;
}

/****** pagination ******/
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    background-color: [PrimaryColor];
    border-color: [PrimaryColor];
}

/****** navigation ******/
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: [SecondaryColor];
}

/****** interior pages ******/
#PageTitleH1 {
    color: #fff;
    text-transform: uppercase;
    max-width: 100%;
    padding: 85px calc(50% - 600px);
    background: [PrimaryColor];
}

#PageTitleH1 .title-text {
    position: relative;
    display: block;
}
#PageTitleH1 .title-text::after {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    color: rgba(255,255,255,0.1);
    font-size: 96px;
    line-height: 1;
    position: absolute;
    top: -20px;
    margin-left: -35px;
}
.community #PageTitleH1 .title-text::after {
    content: '\f0c0';
}
.ideation-page #PageTitleH1 .title-text::after {
    content: '\f0eb';
}

/****** ideation ******/

.ideation-home > .row:nth-child(2) {
    display: flex;
}
.ideation-home > .row:nth-child(2) > .col-md-4 {
    flex-basis: 20%;
    padding-right: 0;
}
.ideation-home > .row:nth-child(2) > .col-md-8#ideation-filter {
    flex-basis: 80%;
    min-width: 0;
    display: flex;
    padding-left: 0;
    padding-right: 15px;
}
.ideation-home > .row:nth-child(2) > .col-md-8#ideation-filter > div {
    flex-basis: 25%;
    padding: 0 3px;
}
.ideation-home > .row:nth-child(2) > .col-md-8#ideation-filter > div:last-child {
    text-align: right;
    padding-right: 0;
    margin-bottom: 0;
}

.ideation-home > .row:nth-child(2) > .col-md-4 > .input-group > .form-control {
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    background: #fff;
    color: #000;
    width: 250px;
    box-shadow: none;
}
.ideation-home > .row:nth-child(2) > .col-md-4 > .input-group > .form-control::placeholder {
    font-style: normal;
}
.ideation-home > .row:nth-child(2) > .col-md-4 > .input-group > label {
    display: none;
}
.ideation-home .btn-default.dropdown-toggle {
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    padding: 7px 14px;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    color: #000;
}

/*** cards ***/
.ideation-card-container {
    margin-left: -15px;
    margin-right: -15px;
}
.ideation-card-container .ideation-cards-item {
    flex-basis: 33.3333333%;
    padding: 10px 15px;
}
.ideation-cards-item .card {
    box-shadow: 0px 1px 2px #E7E8EC, 0px 4px 15px rgba(231, 232, 236, 0.3);
    border: 1px solid #fafafa;
    border-radius: 2px;
    background: #fff;
    padding: 20px;
}
.ideation-cards-item .card-content {
    padding: 0;
    position: relative;
}
.ideation-home .ideation-status {
    margin-top: 0;
}
.ideation-home .ideation-status .status-pill,
.ideation-category .alert.alert-success {
    font-size: 10px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 2px;
    background: transparent;
    overflow: hidden;
    position: relative;
}
.ideation-category .alert.alert-success {
    color: [PrimaryColor];
    padding: 2px 8px;
    border: none;
}
.ideation-home .ideation-status .status-pill {
    color: [SecondaryColor];
    border: 1px solid [SecondaryColor];
    padding: 4px 8px;
}
.ideation-home .ideation-status .status-pill::before,
.ideation-category .alert.alert-success::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ideation-home .ideation-status .status-pill::before {
    background: [SecondaryColor];
    opacity: 0.08;
}
.ideation-category .alert.alert-success::before {
    background: [PrimaryColor];
    opacity: 0.15;
}
.img-circle {
    border-radius: 2px;
}
.ideation-home .ideation-title div {
    min-height: 0;
}
.ideation-home .ideation-byline {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    top: 35px;
    left: 0;
}
.ideation-home .ideation-byline > .media {
    display: flex;
    align-items: center;
}
.ideation-home .ideation-byline a {
    color: [PrimaryColor];
}
.ideation-home .ideation-title {
    margin-top: 65px;
    margin-bottom: 10px;
}
.ideation-home .btn-secondary .badge,
.ideation-vote span.badge.badge-default.active.background-red,
.ideation-vote span.badge.badge-default.active.background-green {
    background: transparent;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: #3c3e3d;
}
.ideation-home .ideation-footer {
    border-top: 1px solid #F5F5F5;
    margin-top: 20px;
    padding-top: 15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.ideation-home .ideation-footer div.vote-section {
    padding-left: 0;
}
.ideation-home .ideation-footer div.comment {
    padding-right: 0;
    color: #4B4B4B;
    font-size: 14px;
    font-weight: 700;
}
.ideation-home .ideation-footer div.comment .fa-comment {
    display: none;
}



/****** footer ******/
#MPOuterMost.full #FOOTER {
    max-width: 100%;
    padding: 0;
}
#MPCopyright,
#MPFooterLink {
    display: none;
}
.footer-top-row,
.footer-bottom-row {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
#FOOTER h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    color: [SecondaryColor];
    margin-bottom: 8px;
}
.footer-top-row {
    background-color: #3C3E3D;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
}
.footer-top-row p {
    margin-bottom: 8px;
}
.footer-top-row a {
    color: #fff;
    text-decoration: none;
}
.footer-top-row a:hover,
.footer-top-row a:focus {
    text-decoration: underline;
}
.footer-top-row {
    display: flex;
}
.footer-top-row > div {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 15%;
}
.footer-top-row > div:first-child {
    flex-basis: 30%;
    align-self: center;
}
.footer-top-row > div:nth-child(2) {
    flex-basis: 40%;
}
.footer-logo img {
    width: 210px;
}
.footer-bottom-row {
    background-color: #000;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 1.17;
    color: #fff;
}
.footer-bottom-row a {
    color: #fff;
}
.footer-bottom-row a:hover,
.footer-bottom-row a:focus {
    text-decoration: none;
}
.footer-powered-by {
    text-align: center;
}
.footer-attribution {
    text-align: right;
}
.footer-social {
    margin-top: 20px;
}
.footer-social-icon {
    display: inline-block;
    margin-right: 6px;
}
.footer-social a:hover,
.footer-social a:focus {
    color: [SecondaryColor];
}

/****** responsive ******/

/*** widths for tablets and laptops ***/
@media (min-width: 992px) and (max-width: 1200px) {
    .profile .col-md-9 .row,
    .profile .col-md-3 .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .profile .section1 + .col-md-9 {
        padding-right: 15px;
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    .profile .col-md-9 div .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .profile .section1 + .col-md-9 {
        padding-right: 0;
    }
}


@media (max-width: 1400px) {
    .main-slide .HtmlContent {
        padding-left: 100px;
    }
}
@media (max-width: 1230px) {
    #searchColumn {
        margin-right: 15px;
    }
    #Logo > .col-md-12 {
        padding: 0;
    }
    .bg-grey,
    .bg-secondary {
        padding-left: 0;
        padding-right: 0;
    }
    #PageTitleH1 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 1200px) {
    .ContentUserControl .row > .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }
    .ideation-card-container {
        margin-left: 0;
        margin-right: 0;
    }
    .ideation-home > .row:nth-child(2) {
        flex-wrap: wrap;
    }
    .ideation-home > .row:nth-child(2) > .col-md-4 {
        flex-basis: 100%;
        padding-right: 15px;
    }
    .ideation-home > .row:nth-child(2) > .col-md-8#ideation-filter {
        flex-basis: 100%;
        padding-left: 15px;
    }
}
@media (max-width: 1200px) and (min-width: 769px) {
    .community .bg-grey div[id*="UpdatePanel"] .panel-body .Content > div[id*="UpdatePanel"] > .row.row-bottom-margin:not(:last-child) {
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (max-width: 1190px) {
    .ideation-home .ideation-filter .ideation-filter-buttons {
        margin-top: 0;
    }
}
@media (max-width: 992px) {
    .row-wide div[class*='section'],
    .interior .row-wide div[class*='section'],
    .bg-grey div[class*='section'],
    .bg-secondary div[class*='section'] {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 991px) {
    .profile .col-md-3.section1 {
        width: calc(100% - 30px);
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .profile .col-md-3.section1 .digitalRibbonDisplay .pull-left {
        float: none !important;
    }
    .profile .col-md-3.section1 .digitalRibbonDisplay .pull-left > div {
        margin-left: auto;
        margin-right: auto;
    }
    .main-slide .HtmlContent {
        padding-right: 100px;
    }
    .footer-copyright,
    .footer-attribution {
        text-align: center;
    }
    .footer-copyright,
    .footer-powered-by {
        margin-bottom: 8px;
    }
    .footer-top-row {
        flex-wrap: wrap;
    }
    .footer-top-row > div.col-md-3 {
        flex-basis: 50%;
    }
    .footer-top-row > div:nth-child(3),
    .footer-top-row > div:last-child {
        margin-top: 20px;
    }
    .home .HLEventList ul {
        flex-wrap: wrap;
    }
    .home .HLEventList ul li {
        flex-basis: 100%;
    }
    .tiles > .col-md-12 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tile {
        flex-basis: 50%;
    }
    .community .bg-grey div[id*="UpdatePanel"] .panel-body .Content > div[id*="UpdatePanel"] > .row.row-bottom-margin:first-child select.pull-right {
        margin-top: 10px;
        float: none !important;
    }
    .ideation-card-container .ideation-cards-item {
        flex-basis: 100%;
    }
    .ideation-home > .row:nth-child(2) > .col-md-8#ideation-filter {
        flex-wrap: wrap;
    }
    .ideation-home > .row:nth-child(2) > .col-md-8#ideation-filter > div {
        flex-basis: 50%;
        margin-bottom: 5px;
    }
    .ideation-home > .row:nth-child(2) > .col-md-8#ideation-filter > div:last-child {
        text-align: left;
    }
    .ideation-home > .row:nth-child(2) > .col-md-4 .input-group {
        width: 50%;
        padding-left: 3px;
        padding-right: 3px;
    }
    .ideation-home > .row:nth-child(2) > .col-md-4 > .input-group > .form-control {
        width: 100%;
    }
    .blogs-block > div[id*="UpdatePanel"] > div[id*="TitleContainer"] + .row.margin-bottom-medium {
        flex-wrap: wrap;
    }
    .blogs-block > div[id*="UpdatePanel"] > div[id*="TitleContainer"] + .row.margin-bottom-medium > .col-md-8 {
        flex-basis: 100%;
    }
    .blogs-block > div[id*="UpdatePanel"] > div[id*="TitleContainer"] + .row.margin-bottom-medium > .col-md-2 {
        flex-basis: 50%;
        max-width: 200px;
    }
    .blogs-block > div[id*="UpdatePanel"] > div[id*="TitleContainer"] + .row.margin-bottom-medium > .col-md-2 .pull-right {
        float: none !important;
    }
}
@media (max-width: 768px) and (min-width: 767px) {
    #searchColumn {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 768px) {
    #searchColumn {
        float: none !important;
        margin-right: 0;
        width: 100%;
    }
    #HEADER > .col-md-12 {
        position: static;
    }
    #Logo {
        position: absolute;
        bottom: 10px;
        left: 15px;
    }
    .navbar-nav>li>.dropdown-menu, 
    #MPButtonBar .navbar-nav > li > .dropdown-menu {
        box-shadow: none;
        border: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #4b4b4b;
    }
    .footer-top-row > div.col-md-3 {
        flex-basis: 100%;
        text-align: center;
    }
    .footer-top-row > div:nth-child(2) {
        margin-top: 20px;
    }
    .footer-logo img {
        margin-left: auto;
        margin-right: auto;
    }
    div[class*="col-xs-"] {
        padding-left: 15px;
        padding-right: 15px;
    }
    .community .bg-grey div[id*="UpdatePanel"] .panel-body .Content > div[id*="UpdatePanel"] > .row.row-bottom-margin:nth-child(2) {
        margin-left: -15px;
        margin-right: -15px;
    }
    .ideation-home .ideation-add {
        padding-right: 15px;
    }
    .digest-viewer thead.table-thead-background {
        display: none;
    }
    table.digest-viewer thead>tr>th, 
    table.digest-viewer tbody>tr>th, 
    table.digest-viewer tfoot>tr>th, 
    table.digest-viewer thead>tr>td, 
    table.digest-viewer tbody>tr>td, 
    table.digest-viewer tfoot>tr>td {
        text-align: left;
    }
    table.digest-viewer td.text-right {
        float: right;
    }
    table.digest-viewer .thread-follow-icon-no-float-xs::before {
        content: 'Following';
        font-family: 'Source Sans Pro', sans-serif;
        margin-right: 5px;
    }
    table.digest-viewer span[id*="lblReplies"] {
        font-weight: 700;
    }
    table.digest-viewer span[id*="lblReplies"]::after {
        content: 'replies';
        font-family: 'Source Sans Pro', sans-serif;
        margin-left: 3px;
        font-weight: 400;
    }
    table.digest-viewer abbr.timeago {
        cursor: default;
        border-bottom: none;
        text-decoration: none;
    }
    table.digest-viewer .timeago::before {
        content: 'Posted:';
        margin-right: 3px;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .btn-group>.btn, .btn-group-vertical>.btn {
        float: left;
    }
}
@media (max-width: 550px) {
    .library-list > .col-md-10 > .pull-right,
    .library-list > .col-md-10 > .pull-right .pull-right {
        float: none !important;
    }
    .library-list > .col-md-10 > .pull-right > .row:last-child {
        display: none;
    }
}
@media (max-width: 650px) {
    .slider .slick-arrow {
        top: auto;
        transform: none;
        bottom: 20px;
    }
    .main-slide .HtmlContent {
        padding-bottom: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .tile {
        flex-basis: 100%;
    }
}
@media (max-width: 500px) {
    .HLEventList .date-block {
        width: 80px;
    }
    .HLEventList.HLLandingControl ul li .col-md-2 {
        width: 80px;
    }
    .HLEventList.HLLandingControl ul li .col-md-10 {
        width: calc(100% - 80px);
        padding-left: 20px !important;
    }
    .ideation-home > .row:nth-child(2) > .col-md-8#ideation-filter > div {
        flex-basis: 100%;
    }
    .ideation-home > .row:nth-child(2) > .col-md-4 > .input-group {
        width: 100%;
    }
}
@media (max-width: 375px) {
    .HLEngagement ul li > a {
        flex-wrap: wrap;
    }
    .HLEngagement ul li > a .title-row,
    .HLEngagement ul li > a .content-row {
        flex-basis: 100%;
    }
    .HLEngagement ul li > a .content-row {
        margin-top: 15px;
        text-align: left;
    }
    .community .bg-grey .panel-body .col-xs-6 {
        width: 100%;
    }
}