/* stop the content overflowing to the sides, especially with negative margins on .row */
#MPOuterMost {
    overflow-x: hidden;
}
/* hide .HtmlFooter and .MPBottomMenu, both of which add extra padding/whitespace */
.HtmlFooter,
.MPBottomMenu {
    display: none;
}
/* remove bottom margin from empty paragraphs (eg. in widgets) to avoid whitespace */
p:empty {
    margin-bottom: 0;
}
/* this one's not HL-specific */
/* centres all background images created using the bg image JS/ajax calls for images */
.bg-image,
.img-container {
    background-size: cover;
    background-position: center;
}
/* avoids 1px tall sections, especially when they hold JS but no content */
/* can be less specific, but might break other HL functionality */
.home .col-md-12[class*="section"] {
    min-height: 0;
}
/* allows for word breaking for emails and profile inbox messages */
body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
/* overrides the above word breaking for yes/no toggle buttons in create event */
#event-additional-details-container {
    overflow-wrap: normal !important;
    word-wrap: normal !important;
}
/* resets the padding on col-md-12 full-width sections */
.row-full .col-md-12[class*="section"] {
    padding: 0;
}
.row-full .col-md-6[class*="section"],
.row-full .col-md-8[class*="section"],
.row-full .col-md-4[class*="section"],
.row-full .col-md-3[class*="section"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* reset alerts to neutral colours */
.alert-warning, .alert-success, 
.ideation-home .alert.alert-success, 
.ideation-detail .alert.alert-success {
    color: inherit;
    background-color: #f9f9f9;
    border-color: #f5f5f5;
}

/****** fonts ******/
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #7C7C7C;
}
h1, .h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.44;
    color: #2B2B2B;
}
.MPContentArea h2,
.MPContentArea .h2,
.HLLandingControl .heading h2, 
.HLLandingControl h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #2B2B2B;
    padding-left: 12px;
    position: relative;
}
.MPContentArea h2::before, 
.MPContentArea .h2::before {
    content: '';
    border-left: 4px solid [SecondaryColor];
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
}
h3, .h3,
.HLLandingControl h3 a {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #3C3E3D;
    text-decoration: none;
}

/* transitions */
a,
a:hover,
a:focus,
input,
input:hover,
input:focus,
button,
button:hover,
button:focus {
    transition: .3s;
}

/*** buttons ***/
.make-buttons em {
    margin: -5px;
}
.make-buttons em a {
    margin: 5px;
}
.make-buttons em a {
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 2px;
}
.make-buttons.invert-button em a {
    color: #fff;
    border-color: #fff;
}
.make-buttons.invert-button em a:hover,
.make-buttons.invert-button em a:focus {
    background-color: #fff;
    color: [PrimaryColor];
}

/****** header ******/
#HEADER {
    padding: 20px 0;
}
#HEADER > .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
}
#MPheader > div.row,
#MPheader > div.row:first-child > .col-md-12 {
    padding: 0;
}

/*** logo and top text links on one line ***/
#Logo {
    float: left;
}
#MPheader > .row:first-child {
    float: right;
}
.skiplinkholder a, .skiplinkholder a:link, .skiplinkholder a:visited {
    left: -500%;
	top: -250px;
}
.skiplinkholder a:focus, .skiplinkholder a:active {
    left: 0;
	top: 0;
}

/*** top text links ***/
#MPAuxNav ul.level1 li a {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    color: #4b4b4b;
    text-decoration: none;
    padding: 0;
    margin-right: 20px;
    border: none;
}

/*** profile dropdown ***/
#BtnShowProfile {
    display: none;
}
.Welcome .btn.btn-default.imgButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    border: none;
    min-height: 0;
}
.imgButton > img {
    position: relative;
    max-height: 100% !important;
    width: auto;
}

/****** main nav ******/
#MPOuterMost #NAV,
#MPOuterMost .navbar-default {
    background: transparent;
    border: none;
}
#NAV .navbar-default .navbar-nav>li>a,
#NAV .navbar-default .navbar-nav>.active>a, 
#NAV .navbar-default .navbar-nav>.disabled>a {
    color: #4B4B4B; 
    background-color: transparent;
    font-weight: 600;
    line-height: 1.2;
    padding: 15px;
}
#NAV .navbar-default .navbar-nav>li>a:hover, #NAV .navbar-default .navbar-nav>li>a:focus,
#NAV .navbar-default .navbar-nav>.active>a:hover, #NAV .navbar-default .navbar-nav>.active>a:focus,
#NAV .navbar-default .navbar-nav>.disabled>a:hover, #NAV .navbar-default .navbar-nav>.disabled>a:focus,
#NAV .navbar-default .navbar-nav>.open>a, #NAV .navbar-default .navbar-nav>.open>a:hover, #NAV .navbar-default #NAV .navbar-nav>.open>a:focus {
    background: transparent;
    color: [SecondaryColor];
}

/* caret */
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-bottom-color: inherit;
    border-top-color: inherit;
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: [SecondaryColor];
    border-bottom-color: [SecondaryColor];
}

/* removing extraneous padding on desktop */
@media (min-width: 768px) {
    #NAV .row {
        margin-left: 0;
        margin-right: 0;
    }
    #NAV .col-md-12,
    .navbar-collapse {
        padding: 0;
    }
}

/* dropdowns */
.navbar-nav>li>.dropdown-menu,
#MPButtonBar .navbar-nav > li > .dropdown-menu {
	background-color: #fff;
    border: 1px solid #FBFBFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05), 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 2px 2px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-nav .dropdown-menu>li>a {
    color: #4B4B4B;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    border-left: 4px solid transparent;
    padding: 10px 18px 10px 14px;
    position: relative;
    z-index: 1;
}
.navbar-nav .dropdown-menu>li>a::before {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), [SecondaryColor];
    opacity: 0;
    transition: .3s;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.navbar-nav .dropdown-menu>.active>a,
.navbar-nav .dropdown-menu>.active>a:hover,
.navbar-nav .dropdown-menu>.active>a:focus,
.navbar-nav .dropdown-menu>li>a:hover,
.navbar-nav .dropdown-menu>li>a:focus,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>.active>a,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>.active>a:hover,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>.active>a:focus,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>li>a:hover,
#NAV #MPButtonBar .navbar-nav .dropdown-menu>li>a:focus {
    color: [SecondaryColor];
    border-left-color: [SecondaryColor];
    background: transparent;
}
.navbar-nav .dropdown-menu>.active>a::before,
.navbar-nav .dropdown-menu>.active>a:hover::before,
.navbar-nav .dropdown-menu>.active>a:focus::before,
.navbar-nav .dropdown-menu>li>a:hover::before,
.navbar-nav .dropdown-menu>li>a:focus::before {
    opacity: 1;
    transition: .3s;
}

/****** search ******/
#searchColumn {
    max-width: 100%;
    width: 370px;
}
#searchColumn .SearchInputs {
    background: #F7F7F7;
    border: 1px solid #F7F7F7;
    border-radius: 0;
}
#searchColumn .form-control {
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    border: none;
    padding: 8px 10px;
    font-size: 14px;
    line-height: 1.3;
    color: #B5B5B5;
}
#searchColumn .form-control::placeholder {
    font-style: normal;
}
#searchColumn button[id*="SearchButton"] {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 10px;
}
#searchColumn button[id*="SearchButton"] .glyphicon-search {
    width: auto;
    top: 0;
    vertical-align: unset !important;
}
#searchColumn button[id*="SearchButton"] .glyphicon-search::before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f002';
    color: #545454;
    font-size: 14px;
    line-height: 1.3;
}

/****** slider ******/

.main-slide .HtmlContent {
    background-color: rgba(60,62,61,0.5);
    padding: 60px 50% 60px calc(50% - 600px);
}
.main-slide h1,
.main-slide p {
    color: #fff;
}
.main-slide h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
.main-slide p {
    line-height: 1.625;
    margin-bottom: 20px;
}

/*** arrows ***/
.slick-arrow {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 32px;
    line-height: 2;
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.slick-arrow.prev-arrow {
    left: 40px;
}
.slick-arrow.next-arrow {
    right: 40px;
}

/****** footer ******/
#MPOuterMost.full #FOOTER {
    max-width: 100%;
    padding: 0;
}
#MPCopyright,
#MPFooterLink {
    display: none;
}
.footer-top-row,
.footer-bottom-row {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
#FOOTER h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    color: [SecondaryColor];
    margin-bottom: 8px;
}
.footer-top-row {
    background-color: #3C3E3D;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
}
.footer-top-row p {
    margin-bottom: 8px;
}
.footer-top-row a {
    color: #fff;
    text-decoration: none;
}
.footer-top-row a:hover,
.footer-top-row a:focus {
    text-decoration: underline;
}
.footer-top-row {
    display: flex;
}
.footer-top-row > div {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 15%;
}
.footer-top-row > div:first-child {
    flex-basis: 30%;
    align-self: center;
}
.footer-top-row > div:nth-child(2) {
    flex-basis: 40%;
}
.footer-logo img {
    width: 210px;
}
.footer-bottom-row {
    background-color: #000;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 1.17;
    color: #fff;
}
.footer-bottom-row a {
    color: #fff;
}
.footer-bottom-row a:hover,
.footer-bottom-row a:focus {
    text-decoration: none;
}
.footer-powered-by {
    text-align: center;
}
.footer-attribution {
    text-align: right;
}
.footer-social {
    margin-top: 20px;
}
.footer-social-icon {
    display: inline-block;
    margin-right: 6px;
}
.footer-social a:hover,
.footer-social a:focus {
    color: [SecondaryColor];
}

/****** responsive ******/
@media (max-width: 1400px) {
    .main-slide .HtmlContent {
        padding-left: 100px;
    }
}
@media (max-width: 1230px) {
    #searchColumn {
        margin-right: 15px;
    }
    #Logo > .col-md-12 {
        padding: 0;
    }
}
@media (max-width: 991px) {
    .main-slide .HtmlContent {
        padding-right: 100px;
    }
    .footer-copyright,
    .footer-attribution {
        text-align: center;
    }
    .footer-copyright,
    .footer-powered-by {
        margin-bottom: 8px;
    }
    .footer-top-row {
        flex-wrap: wrap;
    }
    .footer-top-row > div.col-md-3 {
        flex-basis: 50%;
    }
    .footer-top-row > div:nth-child(3),
    .footer-top-row > div:last-child {
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    #searchColumn {
        float: none !important;
        margin-right: 0;
        width: 100%;
    }
    .navbar-nav>li>.dropdown-menu, 
    #MPButtonBar .navbar-nav > li > .dropdown-menu {
        box-shadow: none;
        border: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #4b4b4b;
    }
    .footer-top-row > div.col-md-3 {
        flex-basis: 100%;
        text-align: center;
    }
    .footer-top-row > div:nth-child(2) {
        margin-top: 20px;
    }
    .footer-logo img {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 650px) {
    .slider .slick-arrow {
        top: auto;
        transform: none;
        bottom: 20px;
    }
    .main-slide .HtmlContent {
        padding-bottom: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }
}